<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Statistics Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <h1 class="header">Statistics Search</h1>
        <form action="/stats_search/" method="post">
            <label for="team_name">Enter name to look up: </label>
            <input id="stat_query" type="text" name="name_field" value="Let's pretend this is a working search bar for now.">
            <input type="submit" value="Search">
        </form>
    </div>
</body>
</html>
