<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Team Search</title>
</head>
<body>
    <div class="container">
        <h1 class="header">Team Search coming soon!(ish)</h1>
    </div>
</body>
</html>